header {
  width: 100%;
  background-color: #3756af;
}
h1 {
  font-family: 'Knewave', cursive;
  padding: 0px 0px 0px 8px;
  color: white;
}

.main_box {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.main_box iframe {
  position: abusolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}
.face_icon {
  z-index: 2;
  padding: 20px 0px 0px 0px;
  width: 20%;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
}
