header {
  width: 100%;
  background-color: #3756af;
}
h1 {
  font-family: 'Knewave', cursive;
  padding: 0px 0px 0px 8px;
  color: white;
}
body {
  /* background-image: url("https://cherliett.github.io/LIFF/img/background_pat.jpg"); */
  /* background-size: cover; */
}
iframe {
  width: 100%;
  height: 100%;
}

.face_icon {
  z-index: 2;
  padding: 20px 0px 0px 0px;
  width: 20%;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
}
