header {
  width: 100%;
  background-color: #3756af;
}
h1 {
  font-family: 'Knewave', cursive;
  padding: 0px 0px 0px 8px;
  color: white;
}

.face_icon {
  z-index: 2;
  padding: 20px 0px 0px 0px;
  width: 20%;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
}
