header {
  width: 100%;
  background-color: #3756af;
}
h1 {
  font-family: 'Knewave', cursive;
  color: white;
}

body {
  background-image: url("https://drive.google.com/uc?id=10zpWOnC2lZhc_ZFdUaIdn-3ejkVCEjip");
  background-size: cover;
}
